node_modules
vendor
.git
.github
.env
.env.*
.gemini
storage/logs/*.log
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
bootstrap/cache/*.php
docker-compose*
Dockerfile
npm-debug.log
yarn-error.log
.idea
.vscode
